.parallax-page-accueil-partie1, .parallax-page-accueil-partie2 {  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-page-accueil-partie1 {
    background-image: url("../../res/img/paysage-montagne_photo.jpg");
    height: 300px;
}

.parallax-page-accueil-partie2 {
    background-image: url("../../res/img/snowboard-freestyle_photo.jpg");
    height: 300px;
}

.page-accueil-h1 {
    font-size: 2.2em;
}

.page-accueil-bouton {
    width: 250px;
}